<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../style.css">

    <title>PG Diseño de Interiores</title>
</head>

<body class="galeria">
    <header>
        <div class="logo">    
        <img src="../assets/img/logo.png" alt="logo pg">
        <h1>PG Diseño de Interiores</h1>
        </div>
    </header>

    <main> 
        <nav>
            <ul class="menu">
               <li><a href="../index.html">HOME</a></li>
               <li><a href="./servicios.html">EQUIPO</a></li>
               <li><a href="#">GALERIA</a></li>
               <li><a href="./servicios.html">SERVICIOS</a></li>
               <li><a href="./contacto.html">CONTACTO</a></li>
             </ul>
        </nav>

        <h2>GALERIA</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, alias reprehenderit amet sit voluptatibus asperiores placeat earum cupiditate, eligendi inventore officiis totam magnam qui quo laborum rerum autem nesciunt pariatur.</p>
    
        <img src="../assets/img/outdoor.jpeg" alt="outdoor">
        <img src="../assets/img/paisajismo.jpeg" alt="paisajismo">
    </main>

    <footer>
        <h3>REDES SOCIALES</h3><br>
        <a href="https://www.facebook.com/profile.php?id=100057138862814" target="blank">  
            <img src="../assets/img/fb.jpg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/" target="blank">
            <img src="../assets/img/insta.jpg" alt="instagram">
        </a> 
        <a href="https://www.whatsapp.com" target="blank"> 
            <img src="../assets/img/wapp.jpg" alt="whatsapp">
        </a>
        <a href="https://www.youtube.com" target="blank"> 
            <img src="../assets/img/yt.jpg" alt="youtube">
        </a>
    </footer>
   

</body>
</html>